
*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --backgorund: crimson;
  --primary-color: #fff;
}

.dark-theme{
  background-color: #000106;
}

body{
  margin: 0;
  font-family: sans-serif;
  font-weight: 400;
  background: var(--primary-color);
}




/*Navigation Style*/
header{
  background: var(--backgorund);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo{
  color: #fff;
  cursor: pointer;
}
.logo:hover{
  color: yellow;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--backgorund);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
nav li{
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover{
  color: yellow;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

header nav #icon{
  width: 10%;
  cursor: pointer;
}


/*Main Content*/

.main-content{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.welcome{
  padding: 1rem;
}
.welcome h2{ 
  text-align: center;
  color: cyan;
}
.welcome p{ 
  text-align: center;
  color: darkcyan;
}

.img-container{
  padding: 1rem;
}

.img-container img{
  width: 100%;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.btn-container{
  text-align: center;
}

.btn{
  padding: 1rem 2rem;
  background: crimson;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: .5rem;
}

/*Main Content*/

/*Second Content*/

.second-content{
  margin-top: 5rem;
}
.title h3{
  font-size: 1.5rem;
  text-align: center;
  color: cyan;
  margin-bottom: 0;
}

.title hr{
  width: 100px;
  border: none;
  height: 2px;
  background-color: darkcyan;
}


.second-img{
  padding: 1rem;
}

.second-img img{
  width: 100%;
  border-radius: .5rem;
  margin-bottom: 2rem;
}

.box-container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.box-container .box {
  background-color: crimson;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: .5rem;
}
.box-container .box h4{
  text-align: center;
  color: yellow;
}
.box-container .box p{
  color: white;
}

/*Second Content*/

/*Fourth Content*/

.fourth-container{
  margin-top: 5rem;
}

.student-container{
  padding: 1rem;
}

.student-container h4{
  text-align: center;
  font-size: 1rem;
  color:crimson;
  margin: 0px;
}
.student-container .job{
  text-align: center;
  font-size: .9rem;
  font-weight: 600;
  color: tomato;
  margin-top: 10px;
}
.student-container p{
  text-align: center;
  font-size: .9rem;
}
.students-img{
  padding: 1rem;
}
.students-img img{
  width: 100%;
}

/*Fourth Content*/

/*Last Content*/

.icons{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.boxes{
  text-align: center;
  background-color: crimson;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.boxes i{
  color: #fff;
}

.boxes h6{
  margin: 5px;
  color: #fff;
}

.last-container p{
  text-align: center;
  font-weight: 600;
  color: tomato;
  margin-bottom: 0;
}
.last-container h4{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: crimson;
}

.my-icons{
  display: flex;
  justify-content: center;
}
.my-icons i {
  color: crimson;
  margin: 0 0.5rem;
}

/*Last Content*/





/*Media Queries*/

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header{
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav{
    all: unset;
    grid-column:  3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #fff;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /* transform-origin: left; */
    transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
  }
}
/*Asosit Qism*/



